## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN'
application_df = application_df.drop(columns = ['EIN'])

In [5]:
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [7]:
# NAME counts for binning
countsname = application_df['NAME'].value_counts()
countsname

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [14]:
name_replace = list(countsname[countsname<5].index)
name_replace[:15]

['AMALGAMATED TRANSIT UNION',
 '4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS',
 'TEXAS WATER UTILITIES ASSOCIATION',
 'PARENTS FAMILIES AND FRIENDS OF LESBIANS AND GAYS INC',
 'THE UNITED STATE PONY CLUBS INC',
 'WESTERN GOVERNORS UNIVERSITY',
 'AMERICAN ORFF-SCHULWERK ASSOCIATION',
 'GAMMA PHI BETA SORORITY INC',
 'AMATEUR ATHLETIC UNION OV THE UNITED STATES INC',
 'DEPARTMENT OF OKLAHOMA LADIES AUXILIARY TO THE VFW INC',
 'PILOT CLUB INTERNATIONAL',
 'DELTA CHI NATIONAL HOUSING CORPORATION',
 'SOROPTIMIST INTERNATIONAL TO THE AMERICAS INC',
 'WOODMEN OF THE WORLD LIFE INSURANCE SOCIETY',
 'COMMUNICATION ALLIANCE TO NETWORK THOROUGHBRED EX-RACEHORSES']

In [17]:
# Dataframe - replace names
for name in name_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [16]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))
    
application_df.nunique()

NAME 403
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

NAME                       403
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [18]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
countsbinning = application_df['CLASSIFICATION'].value_counts()

In [22]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (countsbinning[countsbinning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [23]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [24]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [25]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 3227

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 3,354
Trainable params: 3,354
Non-trainable params: 0
_________________________________________________________________

In [27]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=75)

Epoch 1/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4181 - accuracy: 0.8004 - val_loss: 0.4389 - val_accuracy: 0.7989
Epoch 2/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4174 - accuracy: 0.8002 - val_loss: 0.4405 - val_accuracy: 0.7981
Epoch 3/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4174 - accuracy: 0.8009 - val_loss: 0.4391 - val_accuracy: 0.8010
Epoch 4/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4175 - accuracy: 0.8010 - val_loss: 0.4393 - val_accuracy: 0.7984
Epoch 5/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4170 - accuracy: 0.8010 - val_loss: 0.4377 - val_accuracy: 0.7994
Epoch 6/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4167 - accuracy: 0.8016 - val_loss: 0.4416 - val_accuracy: 0.7981
Epoch 7/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4166 - accuracy: 0.8025 - val_loss: 0.4391 - val_accuracy: 0.7955
Epoch 8/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4168 - accuracy: 0.8008 - val_loss: 0.4382 - val_accuracy: 0.7987
Epoch 9/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4167 - accuracy: 0.8015 - val_loss: 0.4386 - val_accuracy: 0.7976
Epoch 10/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4165 - accuracy: 0.8016 - val_loss: 0.4396 - val_accuracy: 0.7989
Epoch 11/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4161 - accuracy: 0.8011 - val_loss: 0.4404 - val_accuracy: 0.7966
Epoch 12/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4161 - accuracy: 0.8020 - val_loss: 0.4395 - val_accuracy: 0.7992
Epoch 13/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4156 - accuracy: 0.8029 - val_loss: 0.4388 - val_accuracy: 0.7976
Epoch 14/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4161 - accuracy: 0.8002 - val_loss: 0.4401 - val_accuracy: 0.7971
Epoch 15/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4158 - accuracy: 0.8024 - val_loss: 0.4377 - val_accuracy: 0.7984
Epoch 16/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4154 - accuracy: 0.8011 - val_loss: 0.4392 - val_accuracy: 0.7974
Epoch 17/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4155 - accuracy: 0.8021 - val_loss: 0.4390 - val_accuracy: 0.7984
Epoch 18/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4154 - accuracy: 0.8025 - val_loss: 0.4374 - val_accuracy: 0.7999
Epoch 19/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4150 - accuracy: 0.8027 - val_loss: 0.4390 - val_accuracy: 0.7989
Epoch 20/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4152 - accuracy: 0.8012 - val_loss: 0.4394 - val_accuracy: 0.7992
Epoch 21/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4153 - accuracy: 0.8014 - val_loss: 0.4416 - val_accuracy: 0.7976
Epoch 22/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4150 - accuracy: 0.8026 - val_loss: 0.4399 - val_accuracy: 0.7989
Epoch 23/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4147 - accuracy: 0.8019 - val_loss: 0.4405 - val_accuracy: 0.7984
Epoch 24/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4142 - accuracy: 0.8031 - val_loss: 0.4392 - val_accuracy: 0.7987
Epoch 25/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4141 - accuracy: 0.8022 - val_loss: 0.4395 - val_accuracy: 0.7979
Epoch 26/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4137 - accuracy: 0.8030 - val_loss: 0.4397 - val_accuracy: 0.7989
Epoch 27/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4140 - accuracy: 0.8034 - val_loss: 0.4383 - val_accuracy: 0.7994
Epoch 28/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4140 - accuracy: 0.8034 - val_loss: 0.4417 - val_accuracy: 0.7953
Epoch 29/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4140 - accuracy: 0.8025 - val_loss: 0.4415 - val_accuracy: 0.7974
Epoch 30/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4137 - accuracy: 0.8042 - val_loss: 0.4387 - val_accuracy: 0.7961
Epoch 31/75
684/684 [==============================] - 2s 4ms/step - loss: 0.4134 - accuracy: 0.8027 - val_loss: 0.4393 - val_accuracy: 0.8002
Epoch 32/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4134 - accuracy: 0.8035 - val_loss: 0.4408 - val_accuracy: 0.7992
Epoch 33/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4134 - accuracy: 0.8027 - val_loss: 0.4394 - val_accuracy: 0.7961
Epoch 34/75
684/684 [==============================] - 2s 4ms/step - loss: 0.4134 - accuracy: 0.8028 - val_loss: 0.4402 - val_accuracy: 0.7974
Epoch 35/75
684/684 [==============================] - 2s 4ms/step - loss: 0.4130 - accuracy: 0.8019 - val_loss: 0.4380 - val_accuracy: 0.7989
Epoch 36/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4128 - accuracy: 0.8033 - val_loss: 0.4409 - val_accuracy: 0.7979
Epoch 37/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4128 - accuracy: 0.8038 - val_loss: 0.4387 - val_accuracy: 0.7981
Epoch 38/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4128 - accuracy: 0.8040 - val_loss: 0.4389 - val_accuracy: 0.8007
Epoch 39/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4127 - accuracy: 0.8038 - val_loss: 0.4405 - val_accuracy: 0.8015
Epoch 40/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4128 - accuracy: 0.8041 - val_loss: 0.4374 - val_accuracy: 0.8015
Epoch 41/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4123 - accuracy: 0.8039 - val_loss: 0.4405 - val_accuracy: 0.8002
Epoch 42/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4123 - accuracy: 0.8043 - val_loss: 0.4381 - val_accuracy: 0.8025
Epoch 43/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4121 - accuracy: 0.8050 - val_loss: 0.4395 - val_accuracy: 0.8012
Epoch 44/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4123 - accuracy: 0.8042 - val_loss: 0.4384 - val_accuracy: 0.8018
Epoch 45/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4119 - accuracy: 0.8041 - val_loss: 0.4432 - val_accuracy: 0.7974
Epoch 46/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4118 - accuracy: 0.8050 - val_loss: 0.4397 - val_accuracy: 0.8005
Epoch 47/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4120 - accuracy: 0.8043 - val_loss: 0.4412 - val_accuracy: 0.8002
Epoch 48/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4121 - accuracy: 0.8038 - val_loss: 0.4433 - val_accuracy: 0.7992
Epoch 49/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4118 - accuracy: 0.8038 - val_loss: 0.4405 - val_accuracy: 0.8018
Epoch 50/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4116 - accuracy: 0.8047 - val_loss: 0.4419 - val_accuracy: 0.8005
Epoch 51/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4116 - accuracy: 0.8054 - val_loss: 0.4398 - val_accuracy: 0.7981
Epoch 52/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4115 - accuracy: 0.8048 - val_loss: 0.4433 - val_accuracy: 0.7997
Epoch 53/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4114 - accuracy: 0.8037 - val_loss: 0.4416 - val_accuracy: 0.8010
Epoch 54/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4112 - accuracy: 0.8050 - val_loss: 0.4400 - val_accuracy: 0.7992
Epoch 55/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4115 - accuracy: 0.8042 - val_loss: 0.4419 - val_accuracy: 0.7997
Epoch 56/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4114 - accuracy: 0.8038 - val_loss: 0.4419 - val_accuracy: 0.8007
Epoch 57/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4110 - accuracy: 0.8044 - val_loss: 0.4428 - val_accuracy: 0.7999
Epoch 58/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4117 - accuracy: 0.8041 - val_loss: 0.4404 - val_accuracy: 0.7992
Epoch 59/75
684/684 [==============================] - 2s 4ms/step - loss: 0.4110 - accuracy: 0.8044 - val_loss: 0.4445 - val_accuracy: 0.7992
Epoch 60/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4109 - accuracy: 0.8037 - val_loss: 0.4425 - val_accuracy: 0.8002
Epoch 61/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4112 - accuracy: 0.8046 - val_loss: 0.4431 - val_accuracy: 0.8018
Epoch 62/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4113 - accuracy: 0.8050 - val_loss: 0.4404 - val_accuracy: 0.7994
Epoch 63/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4109 - accuracy: 0.8051 - val_loss: 0.4413 - val_accuracy: 0.7999
Epoch 64/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4110 - accuracy: 0.8041 - val_loss: 0.4452 - val_accuracy: 0.7979
Epoch 65/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4106 - accuracy: 0.8041 - val_loss: 0.4421 - val_accuracy: 0.8012
Epoch 66/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4108 - accuracy: 0.8036 - val_loss: 0.4431 - val_accuracy: 0.8025
Epoch 67/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4108 - accuracy: 0.8047 - val_loss: 0.4450 - val_accuracy: 0.8005
Epoch 68/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4103 - accuracy: 0.8050 - val_loss: 0.4465 - val_accuracy: 0.8002
Epoch 69/75
684/684 [==============================] - 2s 3ms/step - loss: 0.4110 - accuracy: 0.8048 - val_loss: 0.4426 - val_accuracy: 0.8012
Epoch 70/75
202/684 [=======>......................] - ETA: 1s - loss: 0.4196 - accuracy: 0.8020

In [29]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4555 - accuracy: 0.7830 - 591ms/epoch - 2ms/step
Loss: 0.45545706152915955, Accuracy: 0.7829737663269043

In [29]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimized.h5")